<div class="show-mobile">
  <div>
    <button (click)="toogleMenu()">
      <img src="../../../assets/icons/menu-icon.svg" class="menu-mobile-btn" alt="menu"/>
    </button>
    <a href="#">
      <img src="../../../assets/icons/Logo.svg" class="logo-mobile" alt="fundaciónImpronta"/>
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toogleMenu()">
      <img src="../../../assets/icons/back-icon.svg" class="back-mobile-btn" alt="volver">
    </button>
    <ul>
      <li><a (click)="toogleMenu()" [routerLink]="['home']" routerLinkActive="active" href="">Inicio</a></li>
      <li><a (click)="toogleMenu()" [routerLink]="['us']" routerLinkActive="active" href="">Nosotros</a></li>
      <li><a (click)="toogleMenu()" [routerLink]="['services']" routerLinkActive="active" href="">Servicios</a></li>
      <li><a (click)="toogleMenu()" [routerLink]="['plataforma']" routerLinkActive="active" href="">Plataforma Educativa</a></li>
      <li><a (click)="toogleMenu()" [routerLink]="['contact']" routerLinkActive="active" href="">Contáctanos</a></li>
    </ul>
    <div>
      <button (click)="toogleMenu()" [routerLink]="['login']"  routerLinkActive="active" class="donation-btn">
        <img src="../../../assets/icons/login-icon.svg" alt="Login">
        Log-In
      </button>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <div class="logo">
      <a class="logo" href="">
        <img src="../../../assets/icons/Logo.svg" alt="logo" width="150px">
      </a>
    </div>
    <nav>
      <ul>
        <li><a [routerLink]="['home']" href="">Inicio</a></li>
        <li><a [routerLink]="['us']" href="">Nosotros</a></li>
        <li><a [routerLink]="['services']" href="">Servicios</a></li>
        <li><a [routerLink]="['plataforma']" href="">Plataforma Educativa</a></li>
        <li><a [routerLink]="['contact']" href="">Contáctanos</a></li>
      </ul>
    </nav>
    <div class="donation">
      <button [routerLink]="['donaciones']" routerLinkActive="active" class="donation-btn">
        <img src="../../../assets/icons/login-icon.svg" alt="Donaciones">
        Log-In
      </button>
    </div>
  </div>
</div>
