<div class="container">
  <div class="slider-container">

    <div class="slide-one">
      <div class="title-image-container">
        <div class="title-slide-one">
          <p data-aos="fade-down" data-aos-duration="1000">Sistemas de <strong>Gestión</strong></p>
          <h1 data-aos="zoom-in" data-aos-duration="1000">Seguridad y Salud en el Trabajo</h1>
          <h2 data-aos="fade-up" data-aos-duration="1000">para <strong>MIPYMES</strong></h2>
        </div>
        <div class="image-slide-one">
          <img data-aos="fade-left" data-aos-duration="1000"
            src="../../../assets/icons/Slide.svg"
            alt="Seguridad y Salud en el Trabajo"
          />
        </div>
      </div>
      <div class="boxes-info-container">
        <div class="box">
          <div class="image-box">
            <img
              src="../../../assets/icons/Seguridad-icon.svg"
              alt="Seguridad"
            />
          </div>
          <div class="box-info">
            <h3 class="title-box">Plan Estratégico de Seguridad Vial</h3>
            <p class="description-box">
              Garantizamos certificado y su aprobación ante Supertransporte.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <img src="../../../assets/icons/Salud-icon.svg" alt="Salud" />
          </div>
          <div class="box-info">
            <h3 class="title-box">
              Programas de Seguridad y Salud en el Trabajo
            </h3>
            <p class="description-box">
              Programa de epps Programa de Riesgo Químico
            </p>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <img
              src="../../../assets/icons/Reactivacion-icono.svg"
              alt="Reactivación"
            />
          </div>
          <div class="box-info">
            <h3 class="title-box">
              Reactivación sector Gastronómico, Turístico y Hotelero
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-two">
      <div class="title-slider-two">
        <p>Capacitación y</p>
        <h1>Certificación <strong>Manejo</strong> Defensivo</h1>
      </div>
      <div class="image-slider-two">
        <img src="../../../assets/icons/Slide2.svg" alt="Equipo">
      </div>
    </div>
  </div>
</div>
