<div class="services-container">
  <div class="service">
    <div class="title-info-container">
      <div class="title">
        <h1 data-aos="fade-down" data-aos-duration="1000">Sistema de gestión de Calidad</h1>
      </div>
      <div class="info-list">
        <ul data-aos="zoom-in" data-aos-duration="1000">
          <li>
            Asesorías especializadas en planeación e implementación de la norma
            ISO 9001:2015
          </li>
          <li>Auditorías internas de acuerdo con la norma ISO9001:2015</li>
          <li>Consultoría en mejoramiento integral de procesos</li>
          <li>Capacitaciones prácticas</li>
        </ul>
      </div>
    </div>
    <div class="service-image">
      <img data-aos="zoom-in-up" data-aos-duration="1000" src="../../../assets/icons/GestionCalidad.svg" alt="SGC" />
    </div>
  </div>

  <hr data-aos="zoom-in" data-aos-duration="1000"  />

  <div class="service service-reverse">
    <div class="title-info-container title-container-reverse">
      <div class="title">
        <h1 data-aos="fade-down" data-aos-duration="1000">Sistema de gestión de Seguridad y Salud en el Trabajo</h1>
      </div>
      <div class="info-list">
        <ul data-aos="zoom-in" data-aos-duration="1000">
          <li>
            Asesorías especializadas en planeación e implementación de la norma
            ISO 45001:2018
          </li>
          <li>
            Consultoría en la implementación del sistema de Gestión de Seguridad
            y salud en el Trabajo de acuerdo a la resolución 0312 de 2019.
          </li>
          <li>
            Auditorias internas de acuerdo a la resolución 0312 de 2019 e ISO
            45001:2018
          </li>
          <li>Formulación de programas de Vigilancia Epidemiológica</li>
          <li>Evaluación de puestos de Trabajo</li>
          <li>Apoyo en la investigación de accidentes</li>
          <li>Aplicación de la batería de Riesgo Psicosocial</li>
          <li>Resolución 2764 de 2022.</li>
          <li>Programas de Seguridad y Salud en el Trabajo</li>
          <li>Capacitaciones Lúdicas</li>
          <li>Talleres utilizando juegos SST</li>
          <li>Capacitaciones certificadas en Brigadas de emergencia</li>
        </ul>
      </div>
    </div>
    <div class="service-image">
      <img data-aos="zoom-in-up" data-aos-duration="1000" src="../../../assets/icons/SeguridadTrabajo.svg" alt="SGSST" />
    </div>
  </div>

  <hr data-aos="zoom-in" data-aos-duration="1000" />

  <div class="service">
    <div class="title-info-container">
      <div class="title">
        <h1 data-aos="fade-down" data-aos-duration="1000">Sistema de Gestión ambiental</h1>
      </div>
      <div class="info-list">
        <ul data-aos="zoom-in" data-aos-duration="1000">
          <li>
            Asesorías especializadas en planeación e implementación de la norma
            ISO 14001:2015
          </li>
          <li>Proyectos Ambientales Escolares - PRAE</li>
          <li>Planes de Saneamiento ambiental</li>
          <li>Evaluación de Saneamiento ambiental</li>
          <li>
            Programas de trabajos y Obras - PTO consultoría en el Proceso de
            licenciamiento ambiental
          </li>
        </ul>
      </div>
    </div>
    <div class="service-image">
      <img data-aos="zoom-in-up" data-aos-duration="1000" src="../../../assets/icons/GestionAmbiental.svg" alt="SGA" />
    </div>
  </div>

  <hr data-aos="zoom-in" data-aos-duration="1000" />

  <div class="service service-reverse">
    <div class="title-info-container title-container-reverse">
      <div class="title">
        <h1 data-aos="fade-down" data-aos-duration="1000">Sistema de gestión de la Seguridad Vial</h1>
      </div>
      <div class="info-list">
        <ul data-aos="zoom-in" data-aos-duration="1000">
          <li>
            Asesorías especializadas en planeación e implementación de la norma
            ISO 39001
          </li>
          <li>
            Planes estratégicos de Seguridad Vial (PESV) Resolución 40595 de
            2022
          </li>
          <li>Capacitaciones lúdicas en Seguridad Vial</li>
          <li>
            Asesoría técnica en licitaciones y creación de empresas de
            transporte especial de pasajeros
          </li>
          <li>Auditorías internas</li>
        </ul>
      </div>
    </div>
    <div class="service-image">
      <img data-aos="zoom-in-up" data-aos-duration="1000" src="../../../assets/icons/SeguridadVial.svg" alt="SGSV" />
    </div>
  </div>

  <hr data-aos="zoom-in" data-aos-duration="1000" />

  <div class="service">
    <div class="title-info-container">
      <div class="title">
        <h1 data-aos="fade-down" data-aos-duration="1000">Sistemas de Gestión de Organizaciones Educativas</h1>
      </div>
      <div class="info-list">
        <ul data-aos="zoom-in" data-aos-duration="1000">
          <li>
            Asesorías especializadas en planeación e implementación de la norma
            ISO 21001
          </li>
          <li>
            Asesorías especializadas en planeación e implementación de la norma
            ISO 21001
          </li>
          <li>Consultoría en la Formulación de Proyectos</li>
          <li>Educativos institucionales de carretas técnicas laborales</li>
          <li>Capacitaciones prácticas</li>
        </ul>
      </div>
    </div>
    <div class="service-image">
      <img data-aos="zoom-in-up" data-aos-duration="1000" src="../../../assets/icons/GestionOrganizaciones.svg" alt="SGOE" />
    </div>
  </div>

  <hr data-aos="zoom-in" data-aos-duration="1000"  />

  <div class="service service-reverse">
    <div class="title-info-container title-container-reverse">
      <div class="title">
        <h1 data-aos="fade-down" data-aos-duration="1000">Responsabilidad Social</h1>
      </div>
      <div class="info-list">
        <ul data-aos="zoom-in" data-aos-duration="1000">
          <li>
            Asesorías especializadas en planeación e implementación de la guía
            de Responsabilidad Social ISO 26000
          </li>
        </ul>
      </div>
    </div>
    <div class="service-image">
      <img data-aos="zoom-in-up" data-aos-duration="1000" src="../../../assets/icons/ResponsabilidadSocial.svg" alt="RS" />
    </div>
  </div>
</div>
<div class="our-experience-container">
  <div class="title-our-experience">
    <h1 data-aos="fade-down" data-aos-duration="1000">Nuestra experiencia</h1>
  </div>
  <div class="description-our-experience">
    <p data-aos="zoom-in" data-aos-duration="1000">Hemos desarrollado proyectos y asesorías con diferentes entidades publicas y privadas, tales como:</p>
  </div>
  <div class="logos-container">
    <div class="logo">
      <img data-aos="fade-down" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-30.svg" alt="Autoboy">
    </div>
    <div class="logo">
      <img data-aos="fade-down" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-31.svg" alt="">
    </div>
    <div class="logo">
      <img data-aos="fade-down" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-32.svg" alt="">
    </div>
    <div class="logo">
      <img data-aos="fade-down" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-33.svg" alt="">
    </div>
    <div class="logo">
      <img data-aos="fade-up" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-34.svg" alt="">
    </div>
    <div class="logo">
      <img data-aos="fade-up" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-35.svg" alt="">
    </div>
    <div class="logo">
      <img data-aos="fade-up" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-36.svg" alt="">
    </div>
    <div class="logo">
      <img data-aos="fade-up" data-aos-duration="1000" src="../../../assets/icons/WebSite HSEQ-37.svg" alt="">
    </div>
  </div>
</div>
