<div class="general-container">
  <app-slider></app-slider>
  <div class="about-us-container">
    <div class="about-us-title-logo-container">
      <div class="about-us-title">
        <h1 data-aos="fade-down" data-aos-duration="1000">¿Quiénes Somos?</h1>
      </div>
      <div class="about-us-logo">
        <img data-aos="zoom-in" data-aos-duration="1000" src="../../../assets/icons/Simbolo.svg" alt="HSEQ" />
      </div>
    </div>
    <div class="about-us-info-container">
      <div class="about-us-description">
        <p data-aos="fade-down" data-aos-duration="1000">
          Somos una organización que se dedica a la asesoría y consultoría de
          sistemas integrados de gestión, entre los cuales se encuentran:
        </p>
      </div>
      <div class="about-us-list">
        <ol data-aos="fade-up" data-aos-duration="1000">
          <li>Sistema de Gestión de la Calidad</li>
          <li>Sistema de Gestión de la Seguridad y Salud en el Trabajo</li>
          <li>Sistema de Gestión Ambiental</li>
          <li>Sistema de gestión de la Seguridad Vial</li>
          <li>Sistema de Gestión de organizaciones educativas</li>
        </ol>
      </div>
    </div>
  </div>
</div>
