<div class="general-container">
  <app-slider></app-slider>
  <div class="mision-vision-container">
    <div class="box-mision-vision">
      <div class="box-image-mision-vision">
        <img data-aos="fade-down" data-aos-duration="1000" src="../../../assets/icons/Mision.svg" alt="Misión" />
      </div>
      <div class="box-info-mision-vision">
        <h2 data-aos="fade-down" data-aos-duration="1000">Misión</h2>
        <p data-aos="fade-up" data-aos-duration="1000">
          Generamos valor económico y social a nuestros clientes a través del
          apoyo gerencial en la planeación, implementación, control y revisión
          de un sistema integrado de gestión. Contamos con personal altamente
          competente, lo cual nos permite brindar asesoría especializada, ,
          capacitaciones lúdicas, talleres vivenciales, sesiones de coaching y
          auditoría interna con fines de certificación en sistemas de gestión.
        </p>
      </div>
    </div>
    <div class="box-mision-vision">
      <div class="box-image-mision-vision">
        <img data-aos="fade-down" data-aos-duration="1000" src="../../../assets/icons/Vision.svg" alt="Visión" />
      </div>
      <div class="box-info-mision-vision">
        <h2 data-aos="fade-down" data-aos-duration="1000">Visión</h2>
        <p data-aos="fade-up" data-aos-duration="1000">
          En el año 2027 seremos una empresa líder a nivel nacional en la
          prestación de servicios de apoyo a la gestión y dirección empresarial.
          Crearemos las bases para una expansión a nivel internacional con
          productos tecnológicos referentes a los sistemas de gestión y
          realizaremos convenios con organizaciones reconocidas a nivel mundial.
        </p>
      </div>
    </div>
  </div>

  <div class="history-container">
    <div class="info-history">
      <p data-aos="fade-up" data-aos-duration="1000">
        Empresa creada en 2017, como respuesta a la necesidad de implementar
        sistemas de gestión de calidad en empresas del sector transporte. Tres
        años después ampliamos el portafolio de servicios, incluyendo asesorías
        en Sistemas de gestión de la Seguridad y Salud en el Trabajo y Sistemas
        de gestión ambiental. Actualmente asesoramos empresas de todos los
        sectores empresariales en las de 5 sistemas de gestión
      </p>
    </div>
  </div>

  <div class="team-container">
    <div class="team-general-title">
      <h1 data-aos="slide-down" data-aos-duration="1000">Equipo de Trabajo</h1>
    </div>
    <div class="members-container">
      <div class="member">
        <div class="member-image">
          <img data-aos="zoom-in" data-aos-duration="1000" src="../../../assets/icons/Cesar.svg" alt="Ing. Cesar Niño" />
          <div class="member-name">
            <h2 data-aos="fade-up" data-aos-duration="1000">César Niño</h2>
            <p data-aos="fade-up" data-aos-duration="1000">Gerente</p>
          </div>
        </div>
        <div class="member-info">
          <p data-aos="fade-up" data-aos-duration="1000">
            Ingeniero Especialista en Gerencia de la Calidad, Finanzas,
            Seguridad y Salud en el Trabajo e Ingeniería Ambiental. Master en
            Calidad y Gestión Integral USTA - ICONTEC. Consultor en Gestión
            empresarial y desarrollo organizacional.
          </p>
        </div>
      </div>
      <div class="member member-reverse">
        <div class="member-image">
          <img data-aos="zoom-in" data-aos-duration="1000"
            src="../../../assets/icons/Cesar.svg"
            alt="Ing. Geraldine Blanco"
          />
          <div class="member-name">
            <h2 data-aos="fade-up" data-aos-duration="1000">Geraldine Blanco</h2>
            <p data-aos="fade-up" data-aos-duration="1000">Director de Proyectos</p>
          </div>
        </div>
        <div class="member-info">
          <p data-aos="fade-up" data-aos-duration="1000">
            Ingeniera Ambiental. Especialista en Direccción y Gestión de
            proyectos. Especialista en Seguridad y salud en el Trabajo. Master
            en Seguridad y Salud en el Trabajo. Ha sido consultora por mas de 5
            años en la planeación e implementación de Sistemas Integrados de
            Gestión.
          </p>
        </div>
      </div>
      <div class="member">
        <div class="member-image">
          <img
            src="../../../assets/icons/Angela.svg"
            alt="Admin. Angela Molina"
          />
          <div class="member-name">
            <h2 data-aos="fade-up" data-aos-duration="1000">Angela Molina</h2>
            <p data-aos="fade-up" data-aos-duration="1000">Director Administrativo</p>
          </div>
        </div>
        <div class="member-info">
          <p data-aos="fade-up" data-aos-duration="1000">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat,
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="politic-container">
    <div class="politic-title">
      <h1 data-aos="fade-down" data-aos-duration="1000">POLITICA DEL SISTEMA INTEGRADO DE GESTIÓN</h1>
    </div>
    <div class="politic-info">
      <p data-aos="zoom-in" data-aos-duration="1000">
        Somos una organización especializada en brindar asesorías y consultorías
        al más alto nivel en Sistemas de Gestión de Calidad, Seguridad, Salud en
        el Trabajo, Ambiente, Gestión de Organizaciones educativas y Seguridad
        Vial.<br><br>Satisfacemos las necesidades de nuestros clientes y cumplimos los
        requisitos de nuestras partes interesadas relevantes por medio de
        nuestro personal competente, conocimiento actual del mercado y
        experiencia en los diferentes sectores productivos de la región. Estamos
        comprometidos con:<br><br>Promoción y protección de la calidad de vida laboral
        de nuestros colaboradores<br>Cumplimiento de la legislación nacional
        vigente y otros requisitos aplicables<br><br>Mejora continua del Sistema
        Integrado de Gestión<br><br>Fomento de la cultura de prevención en la
        ocurrencia de accidentes y enfermedades laborales<br><br>Identificación de
        peligros, evaluación y valoración de riesgos y la determinación de los
        respectivos controles.<br><br>La presente política es de obligatorio
        cumplimiento para trabajadores, contratistas, subcontratistas y demás
        partes interesadas de HSEQ Proyectos de Ingeniería
      </p>
    </div>
  </div>
</div>
